@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

html {
  font-family: Orbitron, system-ui, -apple-system, BlinkMacSystemFont, Ubuntu,
    sans-serif;
}

body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--chakra-colors-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--chakra-colors-color-palette-fg);
  border-radius: 8px;
  border: 2px solid var(--chakra-colors-bg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--chakra-colors-color-palette-focus-ring);
}
